In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [30]:
data = pd.read_csv("C:\\Users\\babhi\\OneDrive\\Desktop\\AI-ML\\Linear Regression\\houses and prices.csv")

In [31]:
data = data.iloc[0:125,1:3]

In [32]:
data

        Price  Square feets
0    114300.0        1790.0
1    114200.0        2030.0
2    114800.0        1740.0
3     94700.0        1980.0
4    119800.0        2130.0
..        ...           ...
120  110400.0        1930.0
121  105600.0        1930.0
122  144800.0        2060.0
123  119700.0        1900.0
124  147900.0        2160.0

[125 rows x 2 columns]

In [33]:
prices = np.array(data['Price'])

In [34]:
area = np.array(data['Square feets'])

In [36]:
type(prices)

numpy.ndarray

In [40]:
meanprices = prices.mean()
meanarea = area.mean()

In [39]:
meanprices

130453.6

In [42]:
meanarea

1998.24

Generating hypothesis. here we will use summation((x-ux)(y-uy)//summation((x-ux)**2)

In [46]:
numer = 0
denom = 0
for i in range(len(area)):
    numer += (prices[i]-meanprices)*(area[i]-meanarea)
    denom += (area[i]-meanarea)**2

slope = numer/denom

In [47]:
slope

71.47946821371713

meanprices = meanarea * slope + c,


c = meanprices - meanarea*slope

In [48]:
c = meanprices - meanarea*slope

In [49]:
c

-12379.532563378103

In [52]:
def prediction(area):
    price = area*slope + c
    return price

In [54]:
prediction(1998.24)

130453.6

Calculation of goodness of our generated hypothesis

R square = summation(ypred-uy)**2/summation(yactual-ymean)**2
if R square is near to 1 our algorithm is super efficient

In [56]:
nu = 0
de = 0
for i in range(len(area)):
    nu += (prediction(area[i])-meanprices)**2
    de += (prices[i]-meanprices)**2
R = nu/de
R

0.31541375142319056

 R is very less hence our algorithm is not  efficient